
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Kullanıcılar</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Kodu</th>
        <th>Kullanıcı Adı</th>
        <th>Kullanıcı Soyadı</th>
        <th>Kullanıcı Email Adresi</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Can</td>
        <td>Sever</td>
        <td>can.sever@bilgiyon.com.tr</td>
    </tr>
</table>

<button class="btn btn-info">Ekle</button>
<button class="btn btn-warning">Listele</button>
<button class="btn btn-danger">Sil</button>
